.w11_1_chart
{
    width: 180px;
  left: -5px;
  position: relative;
  top: -30px;
}
#SvgjsLine5356
{
  visibility: hidden;
}
#SvgjsLine5357
{
  visibility: hidden;
}
#SvgjsLine5358
{
  visibility: hidden;
}
#SvgjsLine5359
{
  visibility: hidden;
}
#SvgjsLine5362
{
  visibility: hidden;
}
.apexcharts-xaxis-tick
{
  visibility: hidden;
}
.apexcharts-grid
{
  visibility: hidden;
}
.apexcharts-grid-borders
{
  visibility: hidden;
}
.apexcharts-yaxis-texts-g
{
  color : #ffffff
}