.w8_chart
{
    position: absolute;
    left: -10px;
    top: -30px
}
/* .apexcharts-legend
{
    visibility: hidden;
}
.apexcharts-toolbar
{
    visibility: hidden;
} */
/* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
  
  
  